In [3]:
import pytse_client as tse
import pandas as pd

vabemelat = tse.Ticker("وبملت")
vabemalat = vabemelat.history

print(vabemalat)

              open    high     low  adjClose          value     volume  count  \
date
2009-02-18  1050.0  1050.0  1050.0    1050.0   347393807250  330851245    800
2009-02-21  1051.0  1076.0  1042.0    1050.0   352194689892  335334212   6457
2009-02-22  1065.0  1074.0  1055.0    1065.0     8981292784    8435464    603
2009-02-23  1066.0  1067.0  1059.0    1061.0     9090532333    8570222    937
2009-02-25  1061.0  1064.0  1050.0    1058.0     7863032258    7434309    616
...            ...     ...     ...       ...            ...        ...    ...
2021-04-19  3870.0  4040.0  3870.0    3970.0   969420383020  244329902   7463
2021-04-20  4040.0  4200.0  4040.0    4180.0  2211245804840  528713038  13422
2021-04-21  4200.0  4250.0  4120.0    4190.0  1258923232140  300314925  10032
2021-04-24  4150.0  4240.0  4080.0    4160.0   592718520270  142633273   5420
2021-04-25  4170.0  4200.0  4050.0    4110.0   555220973130  135183632   4384

             close
date
2009-02-18  1050.0
2009-02-21  1057.0
2009-02-22  1055.0
2009-02-23  1060.0
2009-02-25  1060.0
...            ...
2021-04-19  4030.0
2021-04-20  4190.0
2021-04-21  4190.0
2021-04-24  4180.0
2021-04-25  4090.0

[2529 rows x 8 columns]

In [7]:
df = pd.DataFrame(vabemalat)
df['return'] = df['close'].pct_change()

In [8]:
df

,open,high,low,adjClose,value,volume,count,close,return
date,,,,,,,,,
2009-02-18,1050.0,1050.0,1050.0,1050.0,347393807250,330851245,800,1050.0,NaN
2009-02-21,1051.0,1076.0,1042.0,1050.0,352194689892,335334212,6457,1057.0,0.006667
2009-02-22,1065.0,1074.0,1055.0,1065.0,8981292784,8435464,603,1055.0,-0.001892
2009-02-23,1066.0,1067.0,1059.0,1061.0,9090532333,8570222,937,1060.0,0.004739
2009-02-25,1061.0,1064.0,1050.0,1058.0,7863032258,7434309,616,1060.0,0.000000
...,...,...,...,...,...,...,...,...,...
2021-04-19,3870.0,4040.0,3870.0,3970.0,969420383020,244329902,7463,4030.0,0.030691
2021-04-20,4040.0,4200.0,4040.0,4180.0,2211245804840,528713038,13422,4190.0,0.039702
2021-04-21,4200.0,4250.0,4120.0,4190.0,1258923232140,300314925,10032,4190.0,0.000000
2021-04-24,4150.0,4240.0,4080.0,4160.0,592718520270,142633273,5420,4180.0,-0.002387
2021-04-25,4170.0,4200.0,4050.0,4110.0,555220973130,135183632,4384,4090.0,-0.021531